<table border="1">
    <tr>
        <th>Title</th>
        <th>Description</th>
    </tr>
  {{#events}}
    <tbody>
        <td>{{title}}</td>
        <td>{{description}}</td>
    </tbody>
  {{/events}}
</table>